:root {
  --grey: #D6CfC7;
}


header {
  display: flex;
  justify-content: space-between;
  margin-inline: 1rem;
}

.header-container {
  display: flex;
}

.btn {
  background-color: transparent;
  margin-inline: 2rem;
  border: transparent;
  border-radius: 1rem;
}

.btn:hover {
  color: var(--grey);
}
